{
    "presets": [
        ["@babel/env", { "targets": "> 0.25%, not dead" }],
        "@babel/preset-typescript"
    ],
    "env": {
        "test": {
            "plugins": [ "istanbul" ]
        },
        "modules": {
            "presets": [
                ["@babel/env", { "targets": "> 0.25%, not dead", "modules": false }],
                "@babel/preset-typescript"
            ]
        }
    }
}